.header {
  background-color: #2b3139;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  padding: 10px;
  z-index: 99;
  box-shadow: 0px 2px 8px #151921;
}

.header h2 {
  color: white;
}

.container {
  max-width: 640px;
  padding: 0;
  margin: 0;
  height: 60px;
  position: relative;
}

.homepic {
  display: block;
  top: 0;
  left: 0;
  position: absolute;
}

.bodyheader, .links {
  overflow: hidden;
  /*hide content that doesn't fit*/
  position: relative;
  /* stays with the flow of doc */
}

.links {
  line-height: 40px;
  display: block;
  padding: 10px;
  margin: 0 60px;
  /*not working? */
  color: white;
}

.links>ul {
  display: flex;
}

.links>ul li {
  font-size: 18px;
  font-weight: bold;
}

ul, li {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

a {
  color: inherit;
  /* get color from parent */
  text-decoration: none;
  /* remove underline */
}

body {
  margin: 0;
  background-color: #414a56;
  color: #efefef;
}

h1,h2,h3,a
{
  font-family: 'Lora', serif;
}
p
{
  font-family: 'Merriweather', serif;
  font-size: 14px;
  line-height: 22px;
}

.content {
  background-color: #2b3139;
  margin: 150px auto 100px auto;
  max-width: 900px;
  min-height: 600px;
  overflow: hidden;
  position: relative;
}

.mainimg {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 4px 0px;
}

.imagecontainer
{
  margin: auto;
  /* padding: 40px; */
}

.image.img1
{
  background-image: url('images/img7.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.image.img2
{
  background-image: url('images/s-img8.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.imgrow
{
  display: flex;
}

.imgcolumn, .textcolumn
{
  padding: 5px;
  flex: 33.33%
}

.imgcolumn img
{
  height: 240px;
}

.textcolumn p
{
  margin: 0px;
}


.imagetext
{
  font-size: 12px;
  text-align: center;
}

.text {
  padding: 40px;

}

.text h1 {
  margin: 0;
}

/*IMAGES*/
.gableimg, .hipimg, .halfgablehalfhipimg, .smallimg
{
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 75%;
}

.gableimg
{

}
